.main-hockey{
    background-image: url(../Images/Screenshot\ from\ 2026-08-04\ 15-37-32.png);
    background-color: black;
    height: 580px;
    padding-top: 20%;
    align-items: center;
    text-align: center;
    padding-left: 18%;
}