.photos-main{
    background-color: black;
    height: 500px;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
    padding-left: 18%;
}

.images{
    display: flex;
    height: auto;
}

.im{
    width: 300px;
}
