a{
    color: rgb(30, 30, 80);
}

.navbar{
    height: 60px;
    background-color: white;
    color: white;
    padding: 5px;
    padding-left: 30px;
    position: sticky;
    top: 0;
    display: flex;
    border-color: rgb(30, 30, 80);
    border-radius: 10px;
    border-style: solid;
    border-radius: 0;
}

.homelogo{
    width: 40px;
    margin-right: 40px;
}

.navbutton{
    margin: 18px;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.text{
    text-align: center;
    padding: 10px;
    background-color: rgb(30, 30, 80);
    color: white;
}

.main{
    background-image: url(../Images/IMG_20260804_134132_095.jpg);
    height: 500px;
    background-size: cover;
    padding-top: 20%;
    align-items: center;
    text-align: center;
    padding-left: 18%;
}

@media (max-width: 767px){
    .main{
        background-image: url(../Images/IMG_20260804_134132_095-Phone.jpg);
    }
}

.menu{
    font-weight: bold;
    font-size: large;
    background-color: white;
    margin-left: 60%;
    width: 100px;
    border-radius: 10px;
    color: rgb(30, 30, 80);
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
